PQ_REALM_ID=realm_goobland_1
PQ_REALM_NAME=Goobland
PQ_DB_HOST=127.0.0.1
PQ_DB_PORT=3306
PQ_DB_NAME=pq_multiplayer
PQ_DB_USER=pq_user
PQ_DB_PASS=change_me
PQ_DEBUG_RETURN_VERIFY_CODE=true
PQ_ADMIN_USER=admin
PQ_ADMIN_PASS=change_me_admin
PQ_ADMIN_UI_ORIGIN=https://admin.progressquest.me
